body {
  background-color: #ededed;
  color: #626262;
}

main {
  max-width: 600px;
  margin: 0 auto;
}

header, section {
  background-color: white;
  padding: 1em;
  box-sizing: border-box;
  margin: 2em 0;
  box-shadow: 0 1px 4px grey;
  border-radius: 5px;
}

header {
  text-align: center;
}

header img {
  max-width: 150px;
  height: auto;
  border-radius: 75px;
  border: 2px lightgrey solid;
}

header h1 {
  color: #e63445;
}

h1, h2, h3 {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}

header p {
  font-family: 'Montserrat', sans-serif;
  text-align: justify;
}

header a {
  display: inline-block;
  background-color: #e63445;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: white;
  padding: 10px;
  border-radius: 4px;
  text-decoration: none;
}

ul, li {
  padding: 0;
  margin: 0;
}

#social {
  padding: 40px 0;
}

#social ul {
  list-style-type: none;
  text-align: center;
}

#social li {
  display: inline-block;
  margin: 18px;
}

#social a {
  text-decoration: none;
  color: #b3b3b3;
  font-family: 'Montserrat', sans-serif;
}

#social a i {
  font-size: 2em;
  margin-bottom: 8px;
}

#movies img {
  width: 120px;
  height: auto;
  float: left;
  clear: both;
}

#movies p {
  margin-left: 140px;
  line-height: 1.8em;
  margin-bottom: 3em;
}

#movies h2 {
  margin-bottom: 2em;
}
