body {
  background-color: #1e93cc;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

button {
  margin: 0;
  padding: 18px;
  border-radius: 10px;
  border: 2px solid white;
  color: white;
  font-size: 1.7em;
}

a {
  text-decoration: none;
}

button.cta {
  background-color: #e99002;
}

button.primary {
  background-color: #165882;
}

p.separator {
  line-height: 60px;
  text-align: center;
  font-size: 1.6em;
  height: 60px;
  background-color: white;
  margin: 0;
}

.wrapper {
  max-width: 1000px;
  margin: 0 auto;
}

header {
  max-height: 100px;
  background-color: #333333;
}

nav {
  display: inline-block;
}

header a, footer a  {
  color: white;
  display: inline-block;
  padding: 10px;
}

header .account {
  float: right;
}

#intro {
  padding: 1em 0;
}

#intro h2 {
  color: white;
}

#intro .img-wrapper {
  flex: 1;
  height: auto;
}

#intro img {
  width:100%;
  max-width: 228px;
}

#intro .wrapper div {
  flex: 4;
  text-align: center;
  padding: 2em;
}

#intro .wrapper {
  display: flex;
}

#features {
  color: white;
}

#features .row {
  display: flex;
}

#features .row .feature {
  padding: 1em;
  flex: 1;
}

#features h2::before {
  content: "> ";
}

#teams {
  background-color: lightgrey;
  text-align: center;
  padding: 3em 0;
}

#teams img {
  margin: 0 1em;
}

#callsToAction {
  background-color: white;
  text-align: center;
  padding: 2em 0 5em 0;
}

#callsToAction button {
  margin: 0 6px;
}

footer {
  background-color: #333333;
  height: 40px;
  padding-top: 10px;
}

footer a {
 border-left: 1px dashed white;
 font-size: 0.8em;
 padding: 4px;
}

footer p {
  margin: 0;
  float: right;
  color: white;
}
