/* Général */

h1, h2 {
  font-family: sans-serif;
}

/* Global Layout */

header {
  width: 100%;
  max-width: 800px;
  min-width: 300px;
  margin: 0 auto;
}

main {
  max-width: 800px;
  min-width: 300px;
  width: 80%;
  margin:0 auto;
}

section .row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.left {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 3em;
}

.right {
  flex: 4;
}

/* Top of the page: personal info and photo */

header h1 {
  padding-bottom: 0;
  border: 0;
}

header #personalData {
  display: inline-block;
}

header #photo {
  float: right;
  width:200px;
  height:200px;
  background: no-repeat center center url('img/avatar.png');
  background-size: cover;
}

/* Section Formations */

#formations .left p {
  text-align: right;
}

section#formations h2 {
  font-size: 1.2em;
}

#formations h1, #langues h1 {
  padding-bottom: 1em;
  border-bottom: 2px darkblue solid;
}

/* Section Langues */

section#langues h2 {
  font-size: 1.1em;
  text-align: right;
}
